<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SMILE - API</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/lib/bootstrap-theme-white-plum/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/lib/animate.css/animate.css" />
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/bubbles.css">
    <link rel="stylesheet" href="/static/styles/toastr.css">
    <!-- 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js">
    </script>
     -->
    
  </head>
  <body ng-app="webApp" ng-controller="Frontend">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
   
     <div class=" messagebox panel panel-info col-lg-8" >
        <div class="panel-heading">
            <h3>Write a tweet for the network</h3>
        </div>
        <div scroll-glue class=" panel-body" style="height: 70px; max-height: 50%; overflow-y: scroll;">
            <section >
                <p ><span ng-bind="tweet_responce"></span></p>
            </section>
        </div>
        <div class="panel-footer">
                <form class="form-horizontal" ng-submit="tweet_submit()">
                    <label for="message">Write a tweet and press enter:</label>
                    <input id="message" class="form-control" ng-model="tweet">
                </form>
        </div>
    </div>
     <div class="panel panel-warning col-lg-8 center" >
        <div class="panel-heading" > 
            <h3>Find the most similar words</h3> 
        </div>
            <!-- <div scroll-glue class="panel-body" style="height: 200px; max-height: 50%; overflow-y: scroll;"> -->
            <section >
                <p ><span >
                    <ul>
                        <li ng-repeat="k in similar_words_list_responce">{% raw %}{{k[0]}} with distance {{k[1]}} {% endraw %} 
                        </li>
                    </ul>
                </span></p>
            </section>
        </div>
        <div class="panel-footer">
            <form class="form-horizontal" ng-submit="word_submit()">
                <label for="message">Write a word and press enter:</label>
                <input id="message" class="form-control" ng-model="word">
            </form>
        </div>
        <div class="panel panel-error col-lg-8 center" >
        <div class="panel-heading" > 
            <h3>Find the odd one out</h3> 
        </div>
            <!-- <div scroll-glue class="panel-body" style="height: 200px; max-height: 50%; overflow-y: scroll;"> -->
            <section >
                <p ><span ng-bind="odd_word_responce"></span></p>
            </section>
        </div>
        <div class="panel-footer">
            <form class="form-horizontal" ng-submit="odd_word_submit()">
                <label for="message">Write a list of words:</label>
                <input id="message" class="form-control" ng-model="odd_word_list">
            </form>
        </div>
    </div>

      

  
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/static/lib/socket.io-0.9.16.js"></script>
    <script src="/static/lib/jquery/jquery.js"></script>
    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/static/lib/angular-socket-io/socket.js"></script>
    <script src="/static/lib/moment/min/moment.min.js"></script>
    <script src="/static/lib/angular-moment/angular-moment.min.js"></script>
    <script src="/static/lib/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="/static/lib/toastr.js"></script>
    <script src="/static/lib/leap_0.6.4.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/controllers/app.js"></script>
    <script src="/static/scripts/services/socket.js"></script>

    <!-- endbuild -->
</body>
</html>
